.artist-profile-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rgb(65, 125, 156);
  background: linear-gradient(
    90deg,
    rgb(93, 115, 126) 0%,
    rgb(115, 172, 182) 43%,
    rgb(105, 133, 138) 100%
  );
  color: white;
  height: 100%;
}

.artist-profile-image {
  width: 40%;
  height: auto;
  padding: 10px;
  object-fit: cover;
  border-radius: 10%;
  border: solid;
  border-color: skyblue;
  box-shadow: -1rem 0 0.8rem #000;
  margin: 5px;
}

.artist-image-about-section {
  display: inline-flex;
  flex-wrap: nowrap;
}

.artist-name {
  margin: 0px 20px 0;
  align-self: center;
}

.artist-genre {
  margin: 0px 20px 0;
  align-self: center;
}

.artist-bio {
  margin: 0px 20px 0;
  align-self: center;
}

.artist-contact-details {
  margin: 0px 20px 0;
  align-self: center;
}

.about-artist-section {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  text-align: center;
  border: solid;
  border-radius: 10%;
  box-shadow: -0.5rem 0 1rem #000;
  margin: 5px;
}

.calendar-div {
  display: flex;
  flex-wrap: wrap;
  width: 29%;
  text-align: -webkit-center;
  border-radius: 10%;
  border: solid;
  box-shadow: -0.5rem 0 1rem #000;
  margin: 5px;
}

.calendar {
  padding: 10px 20px;
  margin: 5px;
  width: 100%;
  box-shadow: -0.5rem 0 1rem #000;
  border-radius: 10%;
}

.artist-icons {
  color: white;
}

.change-availability {
  width: 100%;
  padding: 10px 0px 0px 0px;
}

.artist-form {
  width: fit-content;
  padding: 10px;
  box-shadow: -0.5rem 0 1rem #000;
  border-radius: 20%;
}

@media only screen and (max-device-width: 626px) {
  .artist-image-about-section {
    display: block;
    height: fit-content;
  }
}
