.artist-profile-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rgb(128, 124, 186);
  background: radial-gradient(
    circle,
    rgba(128, 124, 186, 1) 0%,
    rgba(119, 119, 175, 1) 43%,
    rgba(95, 125, 201, 1) 100%
  );
  color: white;
  height: 100vh;
}

.artist-profile-image {
  width: 40%;
  height: auto;
  padding: 10px;
  object-fit: cover;
  border-radius: 10%;
  border: solid;
  border-color: skyblue;
}

.artist-image-about-section {
  display: inline-flex;
  flex-wrap: nowrap;
}

.artist-name {
  margin: 0px 20px 0;
  align-self: center;
}

.artist-genre {
  margin: 0px 20px 0;
  align-self: center;
}

.artist-bio {
  margin: 0px 20px 0;
  align-self: center;
}

.artist-contact-details {
  margin: 0px 20px 0;
  align-self: center;
}

.about-artist-section {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  text-align: center;
  border: solid;
  border-radius: 10%;
}

.calendar-div {
  display: flex;
  flex-wrap: wrap;
  width: 29%;
  text-align: -webkit-center;
  border-radius: 10%;
  border: solid;
}

.calendar {
  padding: 10px 20px;
  width: 100%;
}

.artist-icons {
  color: white;
}

.change-availability {
  width: 100%;
  padding: 10px 0px 0px 0px;
}

.artist-form {
  width: fit-content;
  padding: 10px;
}

@media only screen and (max-device-width: 626px) {
  .artist-image-about-section {
    display: block;
    height: fit-content;
  }
}
