.artist-profile-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rgb(128, 124, 186);
  background: radial-gradient(
    circle,
    rgba(128, 124, 186, 1) 0%,
    rgba(119, 119, 175, 1) 43%,
    rgba(95, 125, 201, 1) 100%
  );
  color: white;
  height: 100vh;
}

.artist-profile-image {
  width: 60%;
  height: auto;
  padding: 10px;
  object-fit: cover;
  border-radius: 10%;
  border: solid;
  border-color: skyblue;
}

span {
  display: inline-flex;
  flex-wrap: nowrap;
}

.artist-name {
  width: fit-content;
  margin: 0px 20px 0;
  align-self: center;
}

.artist-genre {
  width: fit-content;
  margin: 0px 20px 0;
  align-self: center;
}

.artist-bio {
  width: fit-content;
  margin: 0px 20px 0;
  align-self: center;
}

@media only screen and (max-device-width: 626px) {
  span {
    display: block;
    height: fit-content;
  }
}
