.artist-navbar {
  padding: 0px;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 0mm !important;
  margin: 0 !important;
}

.navbar-artist-section {
  width: fit-content;
}

.navbar-artist-section-logout {
  width: fit-content;
  background-color: silver !important;
}
