.artist-or-venue {
  width: 50%;
  height: fit-content;
  display: flex;
}

.artist-entry {
  margin: 0px;
}

.venue-entry {
  margin: 0px;
  text-align: right;
}

.link-to-venue-or-artist {
  color: white;
}
