.edit-artist-div {
  background: rgb(65, 125, 156);
  background: linear-gradient(
    90deg,
    rgb(93, 115, 126) 0%,
    rgb(115, 172, 182) 43%,
    rgb(105, 133, 138) 100%
  );
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.edit-artist-form-label-top {
  padding: 10px 0px 5px 0px;
  color: white !important;
  font-size: 4mm !important;
}

.edit-artist-form-input {
  width: 40% !important;
  border: solid;
  border-width: 1mm !important;
  border-color: skyblue !important;
  box-shadow: -0.3rem 0 1rem #000 !important;
}

.edit-artist-form-label {
  padding: 0px 0px 5px 0px;
  color: white !important;
  font-size: 4mm !important;
}

.edit-artist-form {
  border-radius: 10%;
  box-shadow: -1rem 0 2rem #000;
  width: 60%;
  margin: 10px;
  background: rgb(183, 186, 190);
  background: linear-gradient(
    90deg,
    rgba(183, 186, 190, 1) 0%,
    rgba(199, 194, 238, 1) 50%,
    rgba(112, 116, 245, 0.24833683473389356) 100%
  );
}

.edit-artist-form-input-bottom {
  width: 40% !important;
  margin: 0px 0px 10px 0px !important;
  border: solid;
  box-shadow: -0.3rem 0 1rem #000 !important;
  font-size: 4mm !important;
}
